@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*Barra de navegación*/
#buscarItem {
    position: relative;
}

#campoBusqueda {
    display: none;
    padding: 5px;
    width: 170px;
    transition: width 1s;
}

.barra_superior {
    box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.2);
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: height 0.3s; /* Transición de altura al hacer scroll */
    z-index: 1000; /* Asegurar que la barra esté encima de otros elementos */
    list-style: none;
    margin: auto;
}

.barra_superior:hover {
    height: 120px; /* Altura al hacer hover */
}

#resultadosContainer {
    position: absolute;
    width: 500px;
    max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    top: 100%;
    left: 0;
    z-index: 1001; /* Asegura que esté encima de la barra */
    background-color: rgb(41, 40, 40); /* Puedes ajustar el color de fondo según tus preferencias */
    box-shadow: 0px 10px 10px rgba(244, 243, 243, 0.8);
    color: rgb(254, 254, 254);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

#resultadosBusqueda {
    list-style: none;
    padding: 0;
    margin: 0;
}

#resultadosBusqueda li {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Línea divisoria entre resultados */
    cursor: pointer;
    overflow: hidden; /* Evita que el texto se desborde */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) para indicar que hay más texto */
}

#resultadosBusqueda li:last-child {
    border-bottom: none; /* Elimina la línea divisoria del último resultado */
}

.item_barra {
    display: flex;
    align-items: center;
    position: relative;
    margin: 5px;
}


#campoBusqueda {
    padding: 8px; /* Ajusta el espacio interno según tus preferencias */
}

#linkBuscar {
    margin: 0 10px; /* Ajusta el espacio entre el campo de búsqueda y el enlace 'Buscar' */
}

#botonAceptarBusqueda {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#botonAceptarBusqueda img {
    margin-right: 5px; /* Ajusta el espacio entre el texto 'Aceptar' y el ícono de lupa */
}

#logo:hover {
    width: 160px;
    height: 140px;
    margin: 0px;
    padding: 0px;
    transition: 0.7s;
}

.nav__link {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.nav__link:hover {
    text-decoration: none;
    color: rgb(158, 157, 157);
    font-size: 32px;
    transition: 0.7s;
}

/*Fin barra navegacion*/


button:hover {
    color: #555; /* Cambio a gris más oscuro al pasar el ratón */
}

/*Donar*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/*Principal*/
main{
    display: flex;

}
body.login {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    background: linear-gradient(180deg, #f4f4f4, #d3d3d3);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-content {
    background: linear-gradient(180deg, #fff, #f4f4f4);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    
}
#title {
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
}
.input-group {
    margin-top: 20px;
}

.input-field{
    position: relative;
    margin-bottom: 20px;

}
input {
    padding: 15px 40px 15px 60px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    box-sizing: border-box;
}
.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: #555;
}
button {
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: #555;
}
#tiene_cuenta {
    margin-top: 20px;
    color: #333;
    font-size: 14px;
}
#signIn {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}
#signIn:hover {
    color: #555;
}
/*Registro*/
body.registro{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #f4f4f4, #d3d3d3); /* Degradado de gris claro a gris más oscuro */
    color: #333; /* Texto gris oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    background-color:linear-gradient(180deg, #fff, #f4f4f4); /* Degradado de blanco a gris claro para el formulario */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sutil sombra gris */
    width: 80%;
    max-width: 400px;
    text-align: center;
}
#title {
    color: #333; /* Texto gris oscuro */
    font-size: 36px;
    margin-bottom: 30px;
}
.input-field {
    position: relative;
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 15px 40px 15px 60px; /* Ajusta el padding para dejar espacio para el icono */
    border: 2px solid #ccc; /* Borde gris */
    border-radius: 8px;
    background-color: #f9f9f9; /* Fondo gris claro para los campos de entrada */
    color: #333; /* Texto gris oscuro */
    font-size: 16px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}
.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: #555; /* Color del icono */
}
button {
    width: 100%;
    padding: 15px;
    background-color: #333; /* Fondo gris oscuro para el botón */
    color: #fff; /* Texto blanco en el botón */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: #555; /* Cambio a fondo gris más oscuro al pasar el ratón */
}

#tiene_cuenta {
    margin-top: 20px;
    color: #333; /* Texto gris oscuro para el mensaje */
    font-size: 14px;
}
#signIn {
    color: #333; /* Enlace gris oscuro */
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}
#signIn:hover {
    color: #555; /* Cambio a gris más oscuro al pasar el ratón */
}


/*Fin registro*/

/*Seccion sobre nosotros*/

.titulo_nosotros{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #050505;
    text-align: center;
    height: 200px;
    margin-top: 100px;
}

.intro_nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #050505;
    text-align: center;
}
.contendor_personal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #050505;
    text-align: center;
    margin: 20px;
}
.imagen_nombre{
    margin: 20px;
    border: #ccc 1px solid;
}
.perfilnuestro{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}
.logo_redes{
    width: 24px;
    height: 24px;
    margin: 10px;
    border: #050505 1px solid;
    border-radius: 18px;
    padding: 10px;
}